*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
}

.area{
    background-color: white;
    position: fixed;
}

#image {
    position:absolute;
    top: 1;
    left: 20;
  }

  .container{
    margin: 4rem;
    border-radius: 6px;
    padding: 10px 15px;
    background-color: #fff;
  }