*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
/* justify-content: space-around; */
}
body{
    background-image: url(materialui/bgcimg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    height: 80px;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    background-color:black;
}
.head img{
     height: 40px;
}
.head{
    display: flex;
} 
nav ul{
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 2px solid white;
    /* border: 2px solid white ; */
    padding: 30px;
    align-items: center;
    gap: 20px;
    display: flex;
}
a{
    text-decoration: none;
    font-weight:600;
    color: white;

}
.head ul li{
    align-items: center;
    list-style:  none;
}
nav div img{
    margin: 20px;
    height: 40px;
}

 button {
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    height: 30px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color :magenta;
    /* border: 1px solid red; */
}

/* button:hover{
    background-color: black;
    color: white;
    border: 2px solid magenta;

} */

.main button{
    color: white;
    border: none;
    font-weight: 600; 
    height: 50px; 
    border-radius: 5px;
    background-color :magenta;

}
.main {
    color: white;
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 100px;  
    text-align: center;
    /* border:  1px solid red; */
}

.main h1{
    font-weight: 700;
    font-size: 50px;
}

p{
    font-size: 15px;
    font-weight: 600;
}
